.container {
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.zone {
  flex: 1 1 20em;
  background: #eee;
  display: flex;
  margin: 1em;
  padding: 1em;
  gap: 5px;
}

.item {
  background: #fff;
  border: 1px solid #ccc;
  padding: 1em;
  cursor: move;
}
